.General {
    display: flex;
    flex-direction: column;
    margin-top: 3%;
}

.CarouselContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 100%;
    margin: 0 auto;
    margin: 3% 0 1% 0;
}

.Carousel {
    display: flex;
    justify-content: center;
    flex-basis: 100%;
}
  
.CarouselImage {
    max-width: 80%;
    border-radius: 10%;
    flex-basis: 100%;
}

.BotonCarousel {
    background: rgba(111, 71, 235, 0.3);
    margin: 5em 2em 3em 2em;
    width: 5em;
    height: 1em;
    border: 0;
}

.ActiveButton {
    background: #6F47EB;;
    margin: 5em 2em 0 2em;
    width: 5em;
    height: 1em;
    border: 0;
}

.Productos {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.Producto {
    max-width: 35%;
    max-height: 50%;
    background: #dcdef0;
    border-radius: 6px;
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1.5em;
    box-shadow: -5px 4px 5px 3px black;
}

.Producto:hover {
    transform: scale(1.02);
    backdrop-filter: none;
  }

.Producto img {
    max-width: 100%;
    max-height: 80%;
    border: #1C1934 1px solid;
}

h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 25px;
    text-align: center;
    font-family: 'Plus Jakarta Sans';
    color: #1C1934;
}

.Producto h2 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 58px;
    color: #6F47EB;
}

.BotonAgregar {
    background: #1C1934;
    border-radius: 4px;
    border: 0;
    color: white;
    margin: 0 5% 5% 5%;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 30px;
    text-align: center;
    width: 90%;
}
