.Main {
	display: flex;
	flex-wrap: wrap;
	padding: 2% 10% 4% 10%;
}

.Div1 {
	padding: 4% 14% 8% 14%;
	background: #eff0fc;
	border-radius: 16px;
}

.Title {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 700;
	font-size: 40px;
	line-height: 48px;
	text-align: center;
	color: #1c1934;
}

.SubTitle {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 600;
	font-size: 24px;
	line-height: 30px;
	text-align: left;
	color: #1c1934;
}

.TextoCentrado {
	color: #5e5d6d;
	text-align: left;
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 30px;
	padding: 1em 5em 1.5em 5em;
	text-align: center;
}

.Texto {
	color: #5e5d6d;
	text-align: left;
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 30px;
	text-align: left;
}

.DivSection {
	justify-content: space-between;
	display: flex;
}

h2 {
	flex-basis: 100%;
}

.SubTitle2 {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 600;
	font-size: 20px;
	line-height: 30px;
	color: #5e5d6d;
}

.Soluciones {
	display: flex;
	width: 50%;
	overflow: hidden;
	flex-wrap: wrap;
	padding: 0.5em 2.3em 0.7em 2.3em;
	margin-bottom: 4%;
}

li {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 30px;
	color: #1c1934;
	list-style-image: url('../img/check-lista.png');
}

.Camino {
	display: flex;
	width: 60%;
	height: 40%;
	background: #d8dbfb;
	border-radius: 12px;
	flex-wrap: wrap;
	flex-direction: column;
	margin-top: 5%;
}

.Ver {
	margin: -5% 13% 10%;
	border-radius: 8px;
	display: flex;
	background: white;
	display: flex;
	flex-wrap: wrap;
	width: 45%;
	height: 25%;
	border: 0.5px solid #5e5d6d;
	padding: 0em 0em 0.8em 1.2em;
}

.Comprar {
	margin-left: 28%;
	border-radius: 8px;
	border: 2px solid #6f47eb;
	display: flex;
	flex-wrap: wrap;
	background: white;
	width: 50%;
	height: 35%;
	padding: 0em 0em 0.8em 1.2em;
}

.Entregar {
	margin: 10% 16% -5%;
	border-radius: 8px;
	display: flex;
	background: white;
	display: flex;
	flex-wrap: wrap;
	width: 40%;
	height: 25%;
	border: 0.5px solid #5e5d6d;
	padding-left: 2em;
}

h3 {
	flex-basis: 70%;
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 30px;
	color: #1c1934;
	margin-top: 1em;
	margin-bottom: 1em;
}

.ImgCamino {
	margin: 1em 0.5em 0 0;
	width: 30px;
	height: 30px;
}

.BotonesCamino {
	font-family: 'Work Sans';
	font-style: normal;
	font-weight: 500;
	font-size: 12px;
	line-height: 30px;
	color: #307996;
	background: #c9efff;
	border-radius: 17px;
	border: 0px;
	margin-right: 2em;
	width: 4.8em;
	height: 2.8em;
}

.BotonAceptar {
	color: #1a39a7;
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 500;
	font-size: 12px;
	line-height: 20px;
	text-align: center;
	background: #d8dbfb;
	border-radius: 17px;
	border: 0px;
	margin-right: 2em;
	width: 4.8em;
	height: 2.8em;
}

.BotonDevolver {
	background: #6f47eb;
	border-radius: 17px;
	color: #dadeec;
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 500;
	font-size: 12px;
	line-height: 30px;
	border: 0px;
	margin-right: 2em;
	width: 4.8em;
	height: 2.8em;
}

.SectionImg {
	justify-content: center;
	display: flex;
	flex-wrap: wrap;
	margin: 1% 0 3% 14%;
	padding: 3%;
}

.CarouselContainer {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	max-width: 100%;
	margin: 0 auto;
	margin: 3% 0 1% 0;
}

.Carousel {
	display: flex;
	justify-content: center;
	flex-basis: 100%;
}

.CarouselImage {
	max-width: 80%;
	border-radius: 10%;
	flex-basis: 100%;
}

.BotonCarousel {
	background: rgba(111, 71, 235, 0.3);
	margin: 5em 2em 3em 2em;
	width: 5em;
	height: 1em;
	border: 0;
}

.ActiveButton {
	background: #6f47eb;
	margin: 5em 2em 0 2em;
	width: 5em;
	height: 1em;
	border: 0;
}

.SubTitleMP {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 600;
	font-size: 34px;
	line-height: 58px;
	color: #1c1934;
	line-height: 1;
	margin-top: 1em;
}

.DivMP {
	display: flex;
	flex-direction: column;
	justify-content: end;
	align-items: end;
}

.ImagenMP {
	border-radius: 20px;
	background: #d9d9d9;
}

.Pago {
	width: 50%;
	height: 45%;
	margin: -5% 5% 0 0;
	background: white;
	display: flex;
	flex-wrap: wrap;
	border: 0.5px solid #d8dbfb;
	box-shadow: 18px 23px 22px rgba(57, 36, 124, 0.05);
	border-radius: 4px;
	padding: 5%;
}

.BotonPago {
	background: #1c1934;
	border-radius: 4px;
	border: 0;
	color: white;
	margin: 0 5% 5% 5%;
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 400;
	font-size: 12px;
	line-height: 30px;
	text-align: center;
	width: 90%;
}

.TextoPago {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 18px;
	text-align: center;
	color: #1c1934;
	flex-basis: 65%;
	margin-top: 5%;
}

.PagoImg {
	max-width: 15%;
	margin: 2% 0% 2% 0%;
}

.DivEnd {
	margin: 5em 2em -6em 2em;
	background: #6f47eb;
	border-radius: 20px;
	border: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 1em 9em 2em 9em;
}

.TitleEnd {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 600;
	font-size: 48px;
	line-height: 58px;
	color: white;
	text-align: center;
}

.TextoEnd {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 30px;
	color: white;
	text-align: center;
}

.BotonEnd {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 10px 18px;
	gap: 6px;
	background: #ffffff;
	border-radius: 6px;
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 24px;
	color: #6f47eb;
	border: 0;
	margin-top: 1em;
}
