
.Nav{
    display: flex;
    padding: 0.5% 2% 1% 2%;
    align-items: end;
    justify-content: space-between;
    background: #eff0fcbe;
}

.DivLogo {
    display: flex;
    justify-content: left;
}

.Logo {
    max-width: 50%;
}

.Logo:hover {
    transform: scale(1.04);
}

.DivCentral {
    width: 50%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

.ButtonNav {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px; 
    color: #5E5D6D;
    margin-right: 1em;
    margin-top: 0.2em;
}

.ButtonNav:hover {
    transform: scale(1.02);
}

.DivLogin{
    max-width: 20%;
    max-height: auto;
    display: flex;
    justify-content: right;
    align-items: center;
}

.Carrito {
    background: none;
    max-width: 5em;   
    border: 0;
}

.Carrito img {
    max-width: 50%;
    height: 100%;
    object-fit: contain;
}

.Carrito:hover {
    transform: scale(1.04);
}

.SearchBar {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    background: #D9D9D9;
    padding: 0.3em;
}

a{
    text-decoration: none;
}

.FiltroDropdown {
  position: relative;
  display: inline-block;
}

.FiltroContent {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
}

.FiltroDropdown:hover .FiltroContent {
  display: block;
}

.FiltroContent label {
    white-space: nowrap;
}

/* Esto es de Perfil */
.PerfilDropdown {
    position: relative;
    display: inline-block;
  }

.PerfilContent {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 1;
    left: 0;
    transform: translate(-70%, 0);
    
  }
  
  .PerfilDropdown:hover .PerfilContent {
    display: block;
    top: 100%;
    transform: translate(-70%, 0);
  }
  
  .PerfilContent label {
      white-space: nowrap;
  }

  .Perfil {
    max-width: 30%;
    max-height: auto;
    background: none;
  }

  .PerfilDropdown button{
    white-space: nowrap;
  }