
.General {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    align-items: center;
    width: 80vw;
    height: auto;
    margin-top: 5%;
    text-align: center;
    padding: 0 4em;
}

.BotonNavegacion {
    width: 30%;
    height: auto;
    color: white;
    background: #1c1934;
    border-radius: 16px;
    font-family: 'Poppins';
	font-style: normal;
	font-weight: 600;
	font-size: 20px;
	line-height: 30px;
	color: #d8dbfb;
}

.BotonNavegacion:hover {
    transform: scale(1.02);
}

span {
    font-family: 'Poppins';
	font-style: normal;
	font-weight: 600;
	font-size: 20px;
}